body {
	background: #000;
}

@media only screen and(max-width: 640px) {
	body {
		background: #ccc;
	}
}

	body h1 {
		color: #ddd;
	}

	@media only screen and(max-width: 640px) {
		body h1 {
			background: #ccc;
		}
	}

	body p {
		color: #ccc;
	}
